<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body ng-app="pathology" ng-controller="MainCtrl">
<!-- 		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>

		<p>{{test}}</p> -->

		<div id="search">
			<h2>Search</h2>
			<!-- Search  
				- dropdown of locations/clinics
				- dropdown of doctors
				- dropdown of patients
				- input of all three
				- get back a list and display it, then browse like normal
			-->		
			<label for="searchLocation">Choose Location:</label>
			<select name="searchLocation" id="searchLocation" ng-options="option.Name for option in searchdata.cliniclist track by option._id" ng-model="searchdata.selectedlocation"></select>

			<label for="searchDoctor">Choose Doctor:</label>
			<select name="searchDoctor" id="searchDoctor" ng-options="option.Name for option in searchdata.doctorlist track by option._id" ng-model="searchdata.selecteddoctor"></select>

			<label for="searchPatient">Choose Patient:</label>
			<select name="searchPatient" id="searchPatient" ng-options="option.Name for option in searchdata.patientlist track by option._id" ng-model="searchdata.selectedpatient"></select>

			<label>Keyword</label><input type="text" ng-model="searchdata.textinput">
		</div>
<!-- 		<p>{{searchdata.selectedlocation}}</p>
		<p>{{searchdata.selecteddoctor}}</p>
		<p>{{searchdata.selectedpatient}}</p> -->

		<hr>
		<h2>Browse</h2>
		<!-- Browse	 
			- list all clinics
			- list all doctors and patients of a selected clinic
			- list all patients of a selected doctor
			- list all tags of a selected patient
			- list all logs of a seleted tag
		-->		

		<div id="browse">
			<div ng-repeat="clinic in searchdata.cliniclist">
				<p ng-click="getClinicChildren(clinic);clinic.showchildren = !clinic.showchildren;">{{clinic.Name}}</p>
				<div ng-show="clinic.showchildren">
					<div style="margin-left: 15px" ng-repeat="doctor in clinic.doctors" >
						<p ng-click="getDoctorChildren(doctor); doctor.showchildren=!doctor.showchildren">{{doctor.Name}}</p>
						<div ng-show="doctor.showchildren">
							<div style="margin-left:30px" ng-repeat="patient in doctor.patients">{{patient.Name}}
							<!-- start here place for the tags-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<span ng-repeat="doctor in searchdata.doctorlist | filter:browseclinic" ng-click="setDoctor(doctor);"></span>
			<!-- <span ng-repeat="patient in searchdata.patientlist | filter:browsedoctor "></span> -->
			<!-- filter browseclinic-->
			<!-- <span ng-repeat="tag in searchdata.taglist | "></span> -->
			<!-- all tags by clinic, all tags by doctor, all tags for patient -->
			<!-- <span ng-repeat="loca in tagdata | filter:browsetag"></span> -->
			<!-- all location elements for a specific tag -->
			

		</div>
		<hr>
		<!-- List -->		

		<hr>
		<!-- -->		

		<!-- -->		


	</body>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="/javascripts/pathology.js"></script>
	<!--<script type="text/javascript" src="/javascripts/services.js"></script>-->
</html>
