body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#map {
	width: 500px;
	height: 400px;
}
#browse{
	width:50%;
}
#browse p{
	line-height:3;
	height:45px;
}
#browse div{
	border-bottom: 1px solid gray;
}
.clinic-row{
	background-color:blue;
}
.doctor-row{
	background-color:red;	
}
.patient-row{
	background-color:green;
}
.sample-row{
	background-color:purple;
}
